# created by virtualenv automatically
Lib
Scripts
venv
MiTube.session
pyvenv.cfg
.idea
old_version.py
test.py
bot/.env
videos
.cloud
/.cloud/
.cloud/
/.cloud
share
share/
etc
etc/
zibal_gateway.py
Todo
tests
images
config
web